<h1> All Beers </h1>

<div id="html_format">
  <ul>
    <% @beers.each do |beer| %>
    <h2><a href="/beers/<%= beer.id %>"><%= beer.name %> - <%= beer.abv %>%, by <%= beer.brewery.name %></a></h2>

        <%= link_to "Write a review", new_beer_review_path(beer.id) %>
        <%= link_to "See all Reviews", beer_reviews_path(beer.id) %>
        <%= link_to "Add a New Beer", new_beer_path %>
      <div>
        <p><%= beer.flavor_profile %></p>
      </div>
    <% end %>
  </ul>
</div>

<button id="click-beer">click-beer/ our-new-beers</button>
<div id="our-new-beers"></div>
